.contact-main
    padding-bottom: 5rem
    background-color: #EFEFEF
    .container
        padding: 0 7rem
        h2
                font: 900 3.5rem sans-serif
                padding: 4rem 0
                text-align: center
        .contact-body
            display: flex
            width: 100%
            gap: 4rem
            .contact-form
                max-width: 500px
                form
                    display: grid
                    grid-template: 3rem 3rem  18rem / 1fr
                    gap: 2rem
                    .form
                        display: flex
                        justify-content: space-between
                        .input
                            display: flex
                            flex-direction: column
                            label
                                font: 700 0.9rem 'Open Sans', sans-serif
                                color: #474747
                                text-transform: uppercase
                            input
                                height: 2rem
                                width: 15rem
                            textarea
                                height: 6rem
                                width: 32rem
                                max-height: 195px
                            #submit
                                margin-top: 2rem
                                border: none
                                width: 8rem
                                border-radius: 10rem
                                height: 2.5rem
                                background-color: #2380ea
                                color: white
                                font: 700 1rem sans-serif
                                &:hover
                                    background-color: #3ca4ff
            .sidebar
                width: 100%
                .sidebar-text
                    font: 400 1.1rem 'Open Sans', serif
                    padding-left: 1rem
                    margin-bottom: 2rem
                    border-left: 3px solid $mainBlue
                    margin-top: 1rem
                .book-consultation-link
                    text-decoration: underline
                    color: #00e
                    font-size: 1.1rem
            .sidebar-socials
                padding-top: 2rem
                padding-left: 1rem
                .email-container, .phone-container
                    display: flex
                    .email-svg
                        height: 1.8rem
                        width: auto
                    .phone-svg
                        height: 1.6rem
                        width: auto
                    a
                        font: 400 1.1rem 'Open Sans', sans-serif
                        padding-left: 1rem
                        color: #3e3e3e
                .phone-container
                    padding-top: 1rem
                    padding-bottom: 1rem